[submodule "libs/repo/navigationpage"]
	path = libs/repo/navigationpage
	url = https://github.com/lukewire129/AvaloniaNavigationPage.git
[submodule "libs/repo/riotplaybutton"]
	path = libs/repo/riotplaybutton
	url = https://github.com/lukewire129/riotplaybutton-avaloniaui.git
